:root {
   /* fonts */
   --main-font: 'Roboto';
   --logo-font: 'Raleway';

   /* bg colors */
   --background-main: #E5E5E5;
   --background-items: #E7E9FC;
   --dark-bg: #2E2F42;
   --second-light-bg: #F4F4FD; /* --CLOUD */
   --modal-bg: #FCFCFC;

   
   /* text colors */
   --accent: #4D5AE5; /* --IRIS */
   --main-txt: #434455; /* --SLATE */
   --txt-heading: #2E2F42;
   --hero-txt: #ffffff;
   --text-dark-theme: #E7E9FC;

   /* buttons and accents */
   --shadow: rgba(0, 0, 0, 0.15);
   --hover-focus: #404BBF; /* --OCEAN*/
   --button: #E7E9FC; /* --CORNFLOWER*/
   --white: #ffffff;
   --hover-focus-dark-theme: #31D0AA;
   --icon-border: #8E8F99;

   /* animation */
   --250ms-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   --3500ms-animation: 3500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общие стили элементов для всего сайта */
body {
   font-family: var(--main-font), sans-serif;
   color: var(--main-txt);
   }

ul,
li,
p,
h1,
h2,
h3 {
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
}

.list {
   list-style-type: none;
}

.horizontal-list li {
   display: inline-block;
}

.link {
   text-decoration-line: none;
   font-family: var(--main-font), sans-serif;
   font-weight: 500;
   font-style: normal;
}

.button {
   font-style: inherit;
}

.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

/* flex MARGINS PADDINGS */
.section {
   padding: 120px 0;
}

/* header */

.header-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.logo {
   margin-right: 76px;
}

.nav-block {
   display: flex;
   flex-direction: row;
}

.nav-list {
   display: flex;
   gap: 40px;
   align-items: center;
}

.nav-link {
   padding: 24px 0;
   color: var(--txt-heading);
}

.contacts-list {
   display: flex;
   gap: 40px;
   padding: 0;
}

.contact-link {
   padding: 24px 0;
   color: var(--main-txt);
}

/* HERO */
.hero {
   max-width: 1440px;
   padding: 188px 0;

   background-image: linear-gradient(to bottom,
   rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)),
   url(../images/bg/hero-img.jpg);
   background-repeat: no-repeat;
   background-size: cover;

   margin-left: auto;
   margin-right: auto;
}

.hero-button {
   padding: 16px 32px;
}

.hero>.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 48px;
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
}

.hero-header {
   margin: 0;
   padding: 0;
}

/* ABOUT US */
.about-us-list {
   display: flex;
   gap: 24px;
   justify-content: space-between;
   align-items: center;
   margin: 0;
}

.about-us-header {
   margin: 0;
   margin-bottom: 8px;
}

.text {
   margin: 0;
}

/* What are we doing */
.doing-section {
   padding-top: 0;
}

.doing-list {
   display: flex;
   justify-content: space-between;
}

/* OUR TEAM */
/* .our-team {
   padding: 120px 0;
} */

.our-team-list {
   display: flex;
   gap: 24px;
}

.our-team-item {
   background: var(--white);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;
}

/* .our-team-item-desc > .header-3 {
   margin-bottom: 8px;
} */
.our-team-item-descr {
   padding: 32px 0;
}

/* FOOTER */
.footer {
   padding: 100px 0;
   text-align: start;
}

.footer-description>.text {
   max-width: 264px;
   margin-top: 16px;
}

.footer-logo {
   margin-bottom: 16px;
}

/* ====== PORTFOLIO ====== */
.portfolio-main>.section {
   padding: 96px 0 120px 0;
}

/* === BUTTONS === */
.filter-button {
   padding: 12px 24px;
}

.filter-list {
   display: flex;
   gap: 48px 20px;
   justify-content: center;
   flex-wrap: wrap;
}

.filter-list {
   margin-bottom: 72px;
}

.filter-item {
   background: var(--white);
}

/* === ITEMS === */
.portfolio-list {
   display: flex;
   gap: 48px 24px;
   flex-wrap: wrap;
}

.portfolio-item-meta {
   padding: 32px 16px;
   border: 1px solid var(--background-items);
   border-top: none;
}




/* ============== colors and font =============== */

/* header */
.header {
   border-bottom: 1px solid var(--button);
}

.header-3 {
   font-family: var(--main-font), sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: var(--txt-heading);
   margin-bottom: 8px;
}

.nav {
   font-size: 16px;
   line-height: calc(24 / 26);
   color: var(--txt-heading);
   font-weight: 500;
}

.text {
   font-size: 16px;
   line-height: calc(24 / 16);
   letter-spacing: 0.02em;
   font-weight: 400;
   color: var(--main-txt);
   font-family: var(--main-font), sans-serif;
}

.contacts-item {
   color: var(--main-txt);
}

/* logo */
.logo {
   font-family: var(--logo-font), sans-serif;
   font-size: 18px;
   text-decoration-line: none;
   color: var(--accent);
   width: 115px;

   display: flex;
   align-items: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   font-weight: 800;
}

.logo>.accent {
   color: var(--txt-heading);
}

/* hero */
.hero {
   background-color: #2E2F42;
   color: var(--hero-txt);
   text-align: center;
}

.hero-header {
   font-weight: 700;
   font-size: 56px;
   line-height: calc(60 / 56);
}


.hero-button {
   background: var(--accent);
   box-shadow: 0px 4px 4px var(--shadow);
   border-radius: 4px;
   border: none;
   color: var(--hero-txt);
   display: flex;
   align-items: center;
   letter-spacing: 0.04em;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(24 / 16);
}

/* about us */

.section-header {
   font-weight: 700;
   font-size: 36px;
   line-height: calc(40 / 36);
   letter-spacing: 0.02em;
   color: var(--txt-heading);
   text-align: center;
   margin-bottom: 72px;
}

.about-us-item {
   width: 264px;
}


/* our team section */

.our-team {
   background-color: var(--second-light-bg);
   text-align: center;
}

/* footer */
.footer {
   background-color: var(--dark-bg);
   color: var(--second-light-bg)
}

.accent-dark-theme {
   color: var(--second-light-bg);
}

.dark-theme {
   color: var(--text-dark-theme);
}

.accent-dark-theme {
   color: var(--second-light-bg)
}

/* FOCUS */
.link:hover,
.link:focus {
   color: var(--hover-focus);
   cursor: pointer;
}

.button:hover,
.button:focus {
   background: var(--hover-focus);
   border-color: var(--hover-focus);
   color: var(--focus-txt);
   cursor: pointer;
}


/* PORTFOLIO */

.filter-button {
   background: var(--second-light-bg);
   border: 1px solid var(--button);
   border-radius: 4px;

   color: var(--accent);
   font-family: var(--main-font);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
}

.filter-button:hover,
.filter-button:focus {
   color: var(--white);
   border-color: var(--hover-focus);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* ==================  HIDDEN ======================== */
.hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


/* ====== IMAGES ====== */

.about-us-card {
   margin-bottom: 8px;
   background-color: var(--second-light-bg);
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 112px;
}

.about-us-item-icon {
   width: 64px;
   height: 64px;
}

.social-list {
   display: flex;
   justify-content: space-around;
}

/* .social-list-icon {
   width: 16px;
   height: 16px;
} */
.social-link {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-list-link {
   background-color: var(--accent);
}

.social-list-link:hover,
.social-list-link:focus {
   background-color: var(--hover-focus);
}

.job-title {
   margin-bottom: 8px;
}

/* CUSTOMERS */
.customers-list {
   display: flex;
   justify-content: space-between;
}

.customers-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid currentColor;
   color: var(--icon-border);
   border-radius: 4px;
   height: 100%;
   width: 100%;
}
.customers-list-link:hover,
.customers-list-link:focus {
   color: var(--hover-focus);
}
.customers-list-icon{
   fill: currentColor;
}
.customers-list-item {
   height: 88px;
   width: 168px;
}

.footer-wrapper {
   display: flex;
   gap: 120px;
}

.footer-h3 {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   margin-bottom: 16px;
}

.footer-social {
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
}
.footer-social-list {
   display: flex;
   gap: 16px;
}
.footer-social:hover,
.footer-social:focus {
   background: var(--hover-focus-dark-theme);
}

.portfolio-link:hover,
.portfolio-link:focus {
   cursor: pointer;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link {
   display: block;
}

/* ANIMATIONS */
/* underline nevigation link */
.nav-link,
.contact-link {
   position: relative;
}

.nav-link.active::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -1px;
   width: 100%;
   height: 4px;
   background-color: var(--hover-focus);
   border-radius: 2px;
}
.nav-link.active {
   color: var(--hover-focus);
}

/* Color animation for links and buttons */
.link,
.customers-list-link,
.button,
.social-link {
   transition: color var(--250ms-animation), 
   background-color var(--250ms-animation), 
   box-shadow var(--250ms-animation),
   border-color var(--250ms-animation);
}

/* OVERLAY portfolio */
.thumbnail {
   position: relative;
   overflow: hidden;
}

.overlay-text {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: transform var(--250ms-animation);

   background-color: var(--accent);
   padding: 40px 32px;
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
   transform: translateY(0);
}
.overlay-text .text {
   color: var(--second-light-bg);
}

/* MODAL */
.backdrop {
   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);

   opacity: 1;
   transition: opacity var(--250ms-animation);
}
.modal-form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);

   min-width: 408px;
   min-height: 576px;
   background: var(--modal-bg);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;

   transition: transform var(--250ms-animation);
}
.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
}
.backdrop.is-hidden .modal-form {
   transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
   position: absolute;
   top: 24px;
   right: 24px;

   width: 24px;
   height: 24px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   background-color: var(--button);

   display: flex;
   align-items: center;
   justify-content: center;
}
.close-button:hover,
.close-button:focus {
   color: var(--hero-txt);
}